# .gitignore
# Java class files
*.class
# Executable files
*.exe

# Oject and archive files
# Can use regular expression, e.g., [oa] matches either o or a
*.[oa]

# temp sub-directory (end with a directory seperator)
temp/

